.film {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 700px;
    max-width: 300px;
  }

  .film-info {
    display: flex;
    align-items: center;

    .details {
      border-spacing: 10px 0px;
      margin-left: 10px;
      max-width: 30%;

      td {
        padding: 3px;
      }
    }
    .trailer {
      flex: 1;
      min-width: 680px;
      height: 100%;
    }
  }
}
