$logo-name: 1.4em 'Bauhaus 93';

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 54px;
    height: 54px;
  }

  span {
    font: $logo-name;
    font-size: 36px;
  }
}
