$header-backgraound-color: rgb(59, 58, 58);
$header-shadow: 0px 4px 15px -10px #ffd700;
$all-text-shadow: 2px 2px 5px black;

header {
  text-shadow: $all-text-shadow;
  z-index: 2;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  box-shadow: $header-shadow;
  background-color: $header-backgraound-color;

  .h1,
  .item,
  .login {
    flex: 1 1 33.333%;
  }

  h1 {
    text-align: center;
  }

  h1,
  .login {
    user-select: none;
  }

  .logo {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }
  .exit {
    width: 34px;
    height: 34px;
  }

  .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 1.5em;
      margin-right: 0.7vw;
    }
  }
}
