$body-backgraound-color: rgb(71, 71, 71);
$border-backgraound-color: #ffd700;
$footer-backgraound-color: rgb(59, 58, 58);
$footer-shadow: 0px -4px 15px -10px #ffd700;

footer {
  z-index: 1;
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 60px;
  background-color: $footer-backgraound-color;
  box-shadow: $footer-shadow;
  .btn {
    min-height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background: 40% gray;
      border: 4px solid #ffd700;
      color: white;
    }
  }
}
