$body-backgraound-color: #602f94;

body {
  background-color: $body-backgraound-color;
  padding: 16px;
  b {
    font-size: 36px;
  }
  button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
  }
}
