@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body-text-color: #ffd700;
$body-backgraound-color: rgb(42, 41, 41);

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  max-width: 1920px;
  color: $body-text-color;
  background: $body-backgraound-color;
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

#root {
  --swiper-theme-color: $body-text-color;
}
