$body-backgraound-color: #602f94;
$body-text-color: #e09a34;

html,
body {
  height: 100%;
}

body {
  background-color: $body-backgraound-color;
  color: $body-text-color;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
