$body-backgraound-color: rgb(71, 71, 71);
$border-backgraound-color: #ffd700;

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 80px;
  background-color: $body-backgraound-color;

  .btn {
    min-height: 100%;
    display: flex;
    align-items: center;
  }
}

button:hover {
  background: 40% gray;
  border: 4px solid #ffd700;
  color: white;
}
